<p><%= flash[:notice] %></p>

<h1>Editing Book</h1>

<%= form_with model: @book, local: true do |f| %>
  <div class="field">
    <label>title</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label>body</label>
    <%= f.text_field :body %>
  </div>
  <div class ="action">
    <%= f.submit "Update Book" %>
  </div>
<% end %>

<%= link_to 'Show', @book %>
<%= link_to 'Back', books_path %>
